{% extends 'halaman/base.html' %}
{% load static %}

{% block content %}
<div class="page-header header-filter header-small" data-parallax="true" style="background-image: url('{% static 'halaman/assets/img/bg9.jpg' %}');">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h1 class="title">About Us</h1>
                    <h4>Tak Kenal Maka Tak Sayang.</h4>
            </div>
        </div>
    </div>
</div>

    <div class="main main-raised">
		<div class="contact-content">
    		<div class="container">
            	<h2 class="title">Send us a message</h2>
				<div class="row">
                    <div class="col-12 com-md-12">
                        
                        <div class="col-md-4">
                            <div class="info info-horizontal">
                                <div class="icon icon-primary">
                                    <i class="material-icons">pin_drop</i>
                                </div>
                                <div class="description">
                                    <h4 class="info-title">Maps</h4>
                                    <p> jl.Pangeran Bendahara<br>
                                        Gang  Karya Muharram No.44<br>
                                        Samarinda
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="info info-horizontal">
                                <div class="icon icon-primary">
                                    <i class="material-icons">phone</i>
                                </div>
                                <div class="description">
                                    <h4 class="info-title">Contact</h4>
                                    <p> HJ. Intan & HJ. Suka <br>
                                        +6281238552131 <br>
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="info info-horizontal">
                                <div class="icon icon-primary">
                                    <i class="material-icons">business_center</i>
                                </div>
                                <div class="description">
                                    <h4 class="info-title">M-Banking</h4>
                                    <p> No. Rekening <br>
                                        BNI &middot; EN2341241<br>
                                        BSI &middot; EN8732ENGB2300099123<br>
                                        Mandiri &middot; 7655698794
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                	
               </div>
            </div>
		</div>
    </div>
{% endblock %}



